      
    
{% extends 'base.html'  %}

{% block content %}
<div class="container">
  <div class="col-md-5">

    {% if message %}
    <div class="alert alert-info" role="alert">
      {% for message in messages %}
        {{message}}
      {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'login' %}" class="login-page"> 
      {% csrf_token %}
      <h1>LOGIN page</h1>

      <label>Username</label>
      <input class="form-control" type="text" placeholder="Username" name="username">

      <label>Password</label>
      <input class="form-control" type="text" placeholder="Password" name="password">

      <br>
      <button class="btn btn-info">Login</button>
  </form>
 </div>
</div>

{% endblock %}